h2, h4 {
    text-align: center;
}
.speaker-section {
    text-align: center;
    background-color:#fafafa;
    width: 100%;
    min-height: 420px;
    height: fit-content;
}
.speaker-section > div {
    display: block;
}





.filmstrip img {
    
}
/*.api-description {
    padding: 50px; 
}*/